<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2407716269-bmr88s60c7bltujt6pjk0cfbf5ur27jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2407716269-bmr88s60c7bltujt6pjk0cfbf5ur27jh</string>
	<key>API_KEY</key>
	<string>AIzaSyAwdQ3MszeE9RTcDxFwaJY4hZS1LAOLcwg</string>
	<key>GCM_SENDER_ID</key>
	<string>2407716269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.klinnika</string>
	<key>PROJECT_ID</key>
	<string>klinnika-5ea40</string>
	<key>STORAGE_BUCKET</key>
	<string>klinnika-5ea40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2407716269:ios:48224c6524afb59f7fbd24</string>
</dict>
</plist>